In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

ModuleNotFoundError: No module named 'tensorflow'

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(columns=['EIN', 'NAME'])

NameError: name 'application_df' is not defined

In [3]:
application_df.head()

NameError: name 'application_df' is not defined

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

for x in application_df.columns:
  u = len(application_df[x].unique())
  print(x, u)

NameError: name 'application_df' is not defined

In [5]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE

application_df['APPLICATION_TYPE'].value_counts()

NameError: name 'application_df' is not defined

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

appTypesToReplace = list(application_df['APPLICATION_TYPE'].value_counts()[2:].index)

# Replace in dataframe
for app in appTypesToReplace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

NameError: name 'application_df' is not defined

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

application_df['CLASSIFICATION'].value_counts()

NameError: name 'application_df' is not defined

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

NameError: name 'application_df' is not defined

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

classToReplace = list(application_df['CLASSIFICATION'].value_counts()[3:].index)

# Replace in dataframe
for cls in classToReplace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

NameError: name 'application_df' is not defined

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

application_df = pd.get_dummies(application_df, dtype=int)

NameError: name 'application_df' is not defined

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns=["IS_SUCCESSFUL"])
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=70)

NameError: name 'application_df' is not defined

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

NameError: name 'X_train' is not defined

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

input = len(XtScaled[0])
layer1 = 80
layer2 = 30

# First hidden layer
#  YOUR CODE GOES HERE

nn.add(
    tf.keras.layers.Dense(units=layer1, input_dim=input, activation="relu")
    )

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=layer2, activation="sigmoid")
    )

# Output layer
#  YOUR CODE GOES HERE

nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
    )

# Check the structure of the model
nn.summary()

NameError: name 'tf' is not defined

In [14]:
# Compile the model
#  YOUR CODE GOES HERE

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["acc"])

NameError: name 'nn' is not defined

In [15]:
# Train the model
#  YOUR CODE GOES HERE

fitM = nn.fit(X_train_scaled, y_train, epochs=100, verbose=1)

NameError: name 'nn' is not defined

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

NameError: name 'nn' is not defined

In [17]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

nn.save("AlphabetSoupCharity.h5")

NameError: name 'nn' is not defined